
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style_details.css">
    <!--    <script type="text/javascript" src="js/libs/d3/d3.min.js"></script>-->

</head>

<body class="body-style" onresize="reCalculateLayoutWhenResize()" >

    <div class="tooltip">Tipsy!</div>


    <div id="main_layout" class=layout data-bind="svg:handle">

        <div id=profile_container>
            <div id="profile_of_node" class=profile>
                <!--	<div id="image_main_node" class=div_in_profile>Image of the node </div>
                        <div id="name_main_node" class=div_in_profile>Name of the node</div>
                        <div id="address_main_node" class=div_in_profile>Address of the node</div>
                        <div id="list_main_node" class=div_in_profile>List that node is in </div>
                        <div id="measure_main_node" class=div_in_profile>Activity that is banned</div>-->
                <!--<form id="searchbox" action="">
                <input id="search" type="text" placeholder="">
                <!--	<button id="submit" type="image">-->
                <!--</form>
                <div class=advanced_search>
                <text>Advanced Search</text>
                </div>-->
            </div>
        </div>
        <div id="associate_info" class=associate_info>
            <div id="associate_info_node" class=associate_info_node>
                <div id="detail_info" class=line_by_line>

                    <div id="name_and_address_container" class=name_and_address_container>
                        <div id="name" class=nameandAddress>
                            <label id="name_label" class="description_label">Name </label>
                        </div>
                        <div id="address" class=nameandAddress>
                            <label id="address_label" class="description_label">Primary Address </label>
                        </div>
                    </div>
<!--                    <div id=measure_detail class=measure_detail>
                        <div id="measure_label" class=measure_label>
                            <label id="measure_detail_label" class="description_label" >Measures against this entity * </label>
                            <div class=measure>
                            </div>
                        </div>
                    </div>-->

                    <div id="name_and_address_container" class=name_and_address_container>
                        <div id="identification_container" class=nameandAddress>
                            <label id="identification_label" class="description_label">Identification  </label>
                        </div>
                        <div id="country_container" class=nameandAddress>
                            <label id="country_label" class="description_label">Country </label>
                        </div>
                    </div>
<!--                    <div id=measure_detail class=measure_detail>
                        <div id="measure_label" class=measure_label>
                            <label id="actions_label" class="description_label">Actions </label>
                            <div class=measure>
                                <img class=measure_icon src="resources/notify.svg"> </img>
                                <img class=measure_icon src="resources/whitelist.svg"> </img>
                                <img class=measure_icon src="resources/pdf.svg"> </img>
                            </div>
                        </div>
                    </div>-->
                    
                    <div id="akaTable">
                    <table >
                        <tr id="numList" >
                            <td >
                                <label id="sanction_lists_label" class=name_label> Mentioned in <label id="numOfList" class=numOfList></label> Sanction Lists</label> 
                            </td>
                        </tr>
                        
                        <tr id="listList" >
                        </tr>
                    </table>
                    
                    <table style="cursor: default">
                        <tr id="aka" >
                            <td >
                                <label id="also_known_as_label" class=name_label>Have <label id="numOfName" class=numOfList></label> known names</label>
                            </td>
                        </tr>
                        <tr id="listAKA" >
                        </tr>
                    </table>
                    
                    <table style="cursor: default">
                        <tr id="known_address">
                            <td >
                                <label id="known_address_label" class=name_label>Have <label id="numOfAddress" class=numOfList></label> known addresses</label>
                            </td>
                        </tr>
                        <tr id="listKA" >
                        </tr>
                    </table>
                        </div>
                    
<!--                    <div id="also_known_as_name_and" class=list_and_program_container >
                        <div id="aka" class=numListandaka>
                            <label class="name_label">Have <label id="numOfName" class=numOfList></label> known names</label>
                        </div>
                        <div id="listAKA" class=line_by_line_small>
                        </div>
                    </div>
                    
                    <div id="known_address" class=list_and_program_container >
                        <div id="known_address" class=numListandaka>
                            <label class="name_label">Have <label id="numOfAddress" class=numOfList></label> known addresses</label>
                        </div>
                        <div id="listKA" class=line_by_line_small>
                        </div>
                    </div>
                    
                    <div id="related_sanction_entity" class=list_and_program_container >
                        <div id="related_sanction_entity" class=numListandaka>
                            <label class="name_label">Have relationship with <label id="numOfRelatedSanctionEntity" class=numOfList></label> entities on Sanction List</label>
                        </div>
                        <div id="listSE" class=line_by_line_small>
                        </div>
                    </div>-->
                    
                </div>
                <div id="list" class="line_by_line"> 

                </div>
            </div>	
            <div id="visualization" class=associate_info_node>
                <div class=toolbox>
                    <span id="expand_forcelayout" onclick="expandForceLayout()"  class=close style="font-size:18px;"> <<< </span>
                    <label id="visualization_hide_node_label" class=checkboxname>
                        <input id="node_check_box" type="checkbox"> 
                        <span>
                            Hide node's name
                        </span>
                    </label>
                    <label id="visualization_hide_link_label" class=checkboxlink>
                        <input id="link_check_box" type="checkbox" checked=''> 
                        <span>
                            Hide link's type
                        </span>
                    </label>
                    <!--<label class=buttonroot><input id="root_button" type="checkbox" > Return to primary search</label>-->
                </div>
                <!--<script type="text/javascript" src="concep3_forcelayout.js"></script>-->
                <!--<script type="text/javascript" src="js/viewModels/detail.js"></script>-->
            </div>
        </div>
    </div>
    
    
<!--    <div id="overlayTableContainer">
        
    </div>-->

    <div id="overlay">
        <div id="overlay_window">
            <div class=overlay_container >
                <span class="close">x</span>
                <p>INFORMATION IN THE LIST</p>
            </div>
            <div class=overlay_container>
                <div id="known_names_table_head" class=heading>Known Names</div>
                <table id="known_names_table" style="width:100%; ">
                </table>
            </div>

            <div class=overlay_container>
                <div id="known_addresses_table_head" class=heading>Known Addresses</div>
                <table id="known_addresses_table" style="width:100%">

                </table>
            </div>
            <div class=overlay_container>
                <div id="general_info_div_table_head" class=heading>General Information</div>
                <div id="general_info_div_table" class=general_info_container>

                </div>
            </div>


        </div>
    </div>
</body>